.dmb-menu {
    dmb-header {
        background-color: var(--primary);
        color: var(--primary-contrast);
    }
    dmb-content {
        background: var(--primary-contrast);
        color: var(--primary);
        padding-left: 0;
        padding-right: 0;
        text-align: left;

        .item {
            box-sizing: border-box;
            color: var(--primary);
            cursor: pointer;
            float: left;
            height: 4em;
            padding: 0.5em;
            position: relative;
            width: 100%;

            * {
                color: var(--primary);

                &:before {
                    color: var(--primary);
                }
            }

            .menu-label {
                transform: translate(0, -50%);
                left: 40px;
                max-height: 3.6em;
                position: absolute;
                top: 40%;
            }

            &.selected,
            &:hover {
              background-color: var(--secondary-hover);
            }

            &:after {
              background-color: var(--secondary);
              border: 0 none;
              bottom: 0;
              content: ' ';
              height: 1px;
              left: 15px;
              margin: 0;
              position: absolute;
              right: 15px;
            }

            .icon {
                &:before {
                    font-size: 2em;
                }
            }

            &-main {
                &.icon {
                    &:before {
                        font-size: 2.5em;
                        left: auto;
                        position: absolute;
                        right: 0.5em;
                    }
                }

                & ~ .submenu {
                    display: none;
                }

                &.actived {
                    & ~ .submenu {
                        display: inline;
                    }
                }
            }
        }

        .item-secondary {
            padding: 1.5em 0 0 4em;
        }
    }
}

dmb-menu-button {
    .legend {
        font-size: 1.3em;
        height: 2em;
    }
}

@include breakpoint(small) {
    dmb-menu-button {
        .legend {
            display: none;
        }
    }
}